* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

button, input {
	outline: none;
	border: none;
}

h1, h2 ,h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 37px;
}

h2 {
	font-size: 30px;
	color: #1C1526;
}

h3 {
	color: #1C1526;
	text-align: center;
}

body, html {
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	font-size: 15px;
	overflow-x: hidden;
}

.container {
	width: 1171px;
	margin: 0 auto;
}

.header {
	background: rgba(1,183,255,1);
	background: -moz-linear-gradient(-45deg, rgba(1,183,255,1) 0%, rgba(1,133,215,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,183,255,1)), color-stop(100%, rgba(1,133,215,1)));
	background: -webkit-linear-gradient(-45deg, rgba(1,183,255,1) 0%, rgba(1,133,215,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(1,183,255,1) 0%, rgba(1,133,215,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(1,183,255,1) 0%, rgba(1,133,215,1) 100%);
	background: linear-gradient(135deg, rgba(1,183,255,1) 0%, rgba(1,133,215,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b7ff', endColorstr='#0185d7', GradientType=1 );
	width: 100%;
	padding-top: 60px;
}

.wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.offer {
	width: 557px;
	margin-top: 150px;
}

.title {
	color: #fff;
}

.title span {
	font-size: 59px;
}

.text {
	font-family: 'Open Sans', sans-serif;
	width: 410px;
	margin-top: 50px;
	text-align: left;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 222px;
	padding: 21px 0;
	background: #FFD214;
	color: #272315;
	text-align: center;
	font-weight: 900;
	margin-top: 45px;
}

.explore {
	padding-bottom: 80px;
}

.block {
	width: 290px;
	margin-top: 73px;
}

.in__front {
	padding: 100px 0 120px 0;
}

.in__front h1, h2, p, .photo {
	text-align: center;
}

.wait p {
	color: #201b2d;
}

.wait {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.title-f {
	font-size: 30px;
}

.block p {
	margin-top: 20px;
}

.responsive {
	background: #E8F2F7;
	padding: 105px 0;
}

.title-r {
	text-align: center;
}

.ticket {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	align-items: center;
}

.form-btn {
	margin: 15px 0;
	padding: 20px 0;
	width: 340px;
	color: #232116;
	border: none;
	cursor: pointer;
}

input::-webkit-input-placeholder { color: #7E7984; }
input::-moz-placeholder { color: #7E7984; }


.ticket input {
	box-sizing: border-box;
	width: 340px;
	padding: 15px 25px;
	margin-top: 15px;
	border: 1px solid #B5B5B5;
	border-radius: 3px;
	color: #7E7984;
}

input.form-btn {
	color: #232116;
	border: none;
	border-radius: 0;
}

.footer {
	background: #014372;
}

.footer p {
	padding: 62px 0;
	font-size: 14px;
	text-align: center;
}

.wait, .ticket, .credits {
	opacity: 0;
}

 
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}

	.wrapper {
		flex-direction: column;
	}

	.offer, .title, .text {
		width: 100%;
		text-align: center;
	}

	.btn {
		margin: 25px auto 10px;
	}

	.explore {
		width: 647px;
		margin: 0 auto;
	}
}


@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}

	.wrapper {
		flex-direction: column;
	}

	.wait {
		flex-direction: column;
		align-items: center;
	}

	.block p {
		width: 100%;
	}
}


@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.explore {
		width: 100%;
		margin: 0 auto;
	}
}


@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.btn {
		width: 95%;
	}
	.ticket input, a {
		width: 90%;
	}
}